.main{
    background-image: linear-gradient(rgba(223, 222, 222, 0.775),rgba(246, 247, 246, 0.547)), url("https://img.freepik.com/foto-gratis/surtido-creativo-diferentes-libros_23-2148851023.jpg?w=1060&t=st=1672722571~exp=1672723171~hmac=5cfc2e5fa4e37d36402eb81ce5a162e99e27895adb08fdc56b2575bd415f5c2c"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
 
    justify-content: center;
    align-items: center;
}

.title.container{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;

}
.title{
    font-weight:  600;
    width: 150px;
    text-align: left;
    margin-bottom: 30px; 
    font-size:  24px; 
    line-height:  40px; 
    padding-top: 50px;

    font-family: Inter, sans-serif; 
    color: #ffff; 
    border-bottom:  #ffff solid 2px;
    caret-color: transparent;

}

.favorites{
    width: 90vw;
    height: 80vh;
    margin-top: 5%;
    background-color: #f6f3ea;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
  
}
.left{
    width: 50%;


    position: relative;
   
 
  background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

 
   
   

}
.right{
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
  
}
.right h2{
    font-family: "Dosis", sans-serif;
    margin-top: 20px;
}
.favorite_list{
    background-color: #61593d7c;
  
    margin-top: 20px;
    width: 90%;
    height: 80%;
  border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    overflow-y: scroll;
}
.favorite_list::-webkit-scrollbar-track {
    border: transparent;
    padding: 5px 0;
    background-color: #797878;
  }
  
  .favorite_list::-webkit-scrollbar {
    width: 15px;
  }
  
  .favorite_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(207, 205, 205, 0.3);
    background-color: #f5f0df7c;
    border: 2px solid rgb(0, 0, 0);
  }
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 100%;
    gap: 1rem;
 
   
    height: 200px;
}
.card img{
width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 2)
  
   
}
.specs{
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
  
}
.specs p{
    font-size: small;
    flex-wrap: wrap;
}
.more{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.more_btn{
    background-color: transparent;
    border: none;
}


.delete{
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: left;
    gap: 5rem;
    align-items: center;
}
.size_container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.size_container select {
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
    width: 10rem;
    height: 2em;
    line-height: 3;
    background-color: #6c4f07e9;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 30px;
    margin-top: 20px;
}
@media (max-width: 800px) {
    .left{
       display: none;  
    }

    .favorite_list{
       margin-left: 20px;
        width: 90%;
        height: 75%;
 
    }
    .favorites{
        width: 90vw;
      
        
      
    }
}