.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(237, 237, 237, 0.408),rgba(208, 208, 206, 0.22)), url("https://img.freepik.com/foto-gratis/arreglo-creativo-diferentes-libros-taza-cafe_23-2148851098.jpg?w=1060&t=st=1672793586~exp=1672794186~hmac=f20cea2c068b5923fc1bd698b33ba02a8e0dfb3bf7e6159c278de2d133e1df36"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    

}
.wraper{
   width:70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 70vh;

}
.image{
    width: 80vw;
    height: 70vh;
}
.image img{
    width: 100%;
    height: 100%;

    box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 20px;
    caret-color: transparent;
    position: relative;
    left: 20px;
    }

    .register{
        width: 100%;
        height: 100%;
  
        background-color: #6f5e4b;
    
        display: flex;
        flex-direction: column;
        justify-content: top;
     
        align-items: center;
        border-radius: 10px;
    }
    .title{
        font-family: "Inter";
        color: rgb(246, 251, 245);
        margin: 40px;
      caret-color: transparent;
    }

    .welcome{
        
        color: rgb(246, 251, 245);
        caret-color: transparent;
        background-color: transparent;
        border: none;
        padding: 20px;
        overflow-y: scroll;
        margin: 0px 40px;
        margin-bottom: 40px;
        height: 50%;
    }
    .welcome::-webkit-scrollbar-track {
        border: transparent;
        padding: 5px 0;
        background-color: #cac3b2d3;
      }
      
      .welcome::-webkit-scrollbar {
        width: 15px;
      }
      
      .welcome::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(207, 205, 205, 0.3);
        background-color: #fad5867c;
        border: 2px solid rgb(0, 0, 0);
      }

    .input_container{
        background-color: transparent;
       margin: 0 30px;
    }
    .input_text{
        font-family: inherit;
        width: 80%;
        border: 0;
        border-bottom: 1px solid rgb(246, 243, 243);
        outline: 0;
        font-size: 14px;
        color: #fff;
        background: transparent;
        transition: border-color 0.2s;
        margin: 10px;
    }
    .input_text::placeholder{
        color:rgba(255, 255, 255, 0.625);
    }

    .register_btn{
       background-color: #f4eed8;
       padding: 8px 12px;
       border: none;
       border-radius: 3px;
       color: rgb(12, 65, 28);
       font-size: 13px;
       font-weight:bold;
       margin-top: 20px;
       margin-bottom: 10px;
       width: 65%;
       cursor: pointer;
       caret-color: transparent;
    }
    .sign_btn_container{
        display: flex;
        flex-direction: column;
        caret-color: transparent;
      
   
    }
    .register_btn:hover{
        background-color: #efd678;
    }
    .button_container{
        width: min-content;
        position: absolute;
        left: 15px;
      top: 8rem;
      }
      .back{
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .danger{
        color:rgb(228, 97, 97);
        font-size:small;
        font-family: "Inter",sans-serif;
     }
    .register span{
        text-align: left;
        width: 80%;
        font-family: "Dosis";
        font-style: oblique;
        color: #f4eed8;
        font-weight: lighter;
        font-size: small;

    }
    .btn_container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
    }
    .btn_edit{
        background-color: transparent;
        border: none;
        color: #e4d7a9;
        font-size: 1.5rem;
    }
    .btn_edit:hover{
        color:#a49767;
    }
    .btn_delete{
        background-color: transparent;
        border: none;
        color: #ff7b23;
        font-size: 2rem;
    }
    .btn_delete:hover{
        color: #f29a60;
    }

    @media (max-width: 800px) {
        .container{
          height: 100vh;
        }
        .image{
         display: none;
        }
        .wraper{
     
         flex-direction: column-reverse;
         justify-content: center;
         align-items: center;
        }
        .register{
          width:80%;;
        }
      }

  