
  .container{
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: linear-gradient(rgba(223, 222, 222, 0.606),rgba(246, 247, 246, 0.044)), url("https://img.freepik.com/foto-gratis/libro-abierto-fondo-blanco_23-2148882765.jpg?w=1380&t=st=1672724000~exp=1672724600~hmac=41d85f741900bc9501fa99d64c14d49c8b0e2e1627094c21b06241caa97044d8"); 

  }
  .lady{
    width: auto;
    height: 80vh;
    position: absolute;
    bottom: 0;
    
   
   
    caret-color: transparent;

  }
  .image_container{
    display: flex;
  }
  .search{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 80vh;
    caret-color: transparent;
  }
  .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .brand img{
    width: 15rem;
  
  }
  .brand h2{
    color: rgb(98, 72, 20);
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size:20px;
    font-weight: 400;
   
    border-radius: 20px;
    padding: 5px;
    caret-color: transparent;
   
   
   
  }