
  .container{
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    
  }
  .lady{
    width: auto;
    height: 80vh;
    position: absolute;
    bottom: 0;
    
   
   
    caret-color: transparent;

  }
  .image_container{
    display: flex;
  }
  .search{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 80vh;
    caret-color: transparent;
  }
  .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .brand img{
    width: 15rem;
  
  }
  .brand h2{
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size:20px;
    font-weight: 400;
   
    border-radius: 20px;
    padding: 5px;
    caret-color: transparent;
   
   
   
  }