.loading{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40%;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
   caret-color: transparent;

   
}
.monstera{
    width: 250px;


}
.loader{
    width: 800px;

    opacity: 0.7; 
    position: relative;
    bottom: 15rem;
   
}
@media (max-width: 768px) {
    .monstera{
        width: 100%;
   
    }
}