.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
}
.searchbar{
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    caret-color: transparent;
}
.container input{
    padding: 4px 20px 4px 20px;
    height: 50px;
    border-radius: 17px;
    background-color: rgba(53, 50, 50, 0.306);
    width: 100%;
    border: none;
    caret-color: rgb(7, 7, 7);
    color: rgb(100, 49, 19);
    font-family: "Inter", sans-serif;
}
.container input::placeholder{
    color: rgb(210, 209, 209);

    font-family: "Inter",sans-serif;
  
}

.container button{
    background-color: transparent;
  
    border: none;
    position: relative;
    right: 45px;
    color: rgb(42, 42, 42);
    font-size: 30px;
    bottom: 3px;
    caret-color: transparent;
}
.suggestion{
    display: flex;

    justify-content:left;
    gap: 20px;
    align-items:center ;
    padding: 10px;
    
    width:100%;
}
.suggestion:hover{
    background-color: rgba(255, 228, 196, 0.216);
  
}
.suggestion li{
    list-style: none;
}
.suggestion img{
width: 50px;

border-radius: 4px;
opacity: 0.5;
}
.ul_suggestions{
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.266);
    position: relative;
    right: 20px;
}
